* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

/* font e colori  */
:root {
    --color-h1-color: #e53170;
	--color-email-color: #17ccf2;
    --color-team-member-background: black;
    --color-team-member-text: white;
}

body {
    font-family: 'Fredoka', sans-serif;
}

/* contenitore pagina  */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

/* header e paragrafo */
header h1 {
    font-size: 3em;
    color: var(--color-h1-color);
    text-align: center;
}

main p {
    margin: 50px 0px;
    font-size: 1.3em;
    text-align: center;
}

/* sezione team members  */

.team-member {
    margin-bottom: 50px;
    width: calc(100% / 3 - (70px / 3));
    background-color:var(--color-team-member-background);
    float: left;
    box-shadow: 5px 10px 18px #888888;
}

.team-member img {
    float: left;
    height: 100px;
}
.team-member-text {
    margin-left: 20px;
    float: left;
}
.team-member-name, .team-member-role {
    color: var(--color-team-member-text);
}

.team-member-email {
    color: var(--color-email-color);
}

.team-member-text > * {
    margin-top: 8px;
}

article:nth-of-type(3n-2) {
    margin-right: 35px;
}

article:nth-of-type(3n) {
    margin-left: 35px;
}

/* .debug {
    border: 2px solid orange;
} */
